.mobile-footer-menu-buttons{
    display: none;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: end; /*下寄せ*/
    align-items: center; /*各アイテムを中央寄せ*/
}

.keyboard{
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    touch-action: none;

    background-color: #000000d2;
    width: 250px;
    height: 250px;
    font-size: 3rem;
    position: absolute;
    backdrop-filter: blur(20px); /* 背景にブラーを適用 */
}
.keyboard-panel {
    background-color: #455ff500;
    pointer-events: none;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.keyboard-item {
    width: 50px;
    height: 50px;
    pointer-events: auto;
    display: flex;
    z-index: 90;
    background-color:#88838393;
    border-radius:0.5rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgb(0 0 0 / 50%);
    justify-content: center;
    align-items: center;
    color:white;
}
.keyboard-item-center {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 90;
}
.keyboard-item-up {
    clip-path: polygon(0 0, 100% 0, 100% 62%, 50% 100%, 0 62%);
    background-color:#4b4b4b;
    position: absolute;
    top: 0px;
    left: 50px;
    z-index: 100;
}
.keyboard-item-down {
    clip-path: polygon(50% 1%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
    background-color:#4b4b4b;
    position: absolute;
    bottom: 0px;
    left: 50px;
    z-index: 100;
}
.keyboard-item-left {
    clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);
    background-color:#4b4b4b;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 100;
}
.keyboard-item-right {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 50%);
    background-color:#4b4b4b;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 100;
}
.keyboard-item-blue{
    background-color:#006eff;
}
.keyboard-item-select{
    background-color:#353535;
}
.hidden {
    visibility: collapse;
}